# Numpy Array

##### What is NumPy?

- NumPy is a Python library used for working with arrays, images, matrix etc

- It also has functions for working in domain of linear algebra, fourier transform, and matrices.

- NumPy was created in 2005 by Travis Oliphant. It is an open source project and you can use it freely.

- NumPy stands for Numerical Python.


### Why Use NumPy?

- In Python we have lists that serve the purpose of arrays, but they are slow to process.
- NumPy aims to provide an array object that is up to 50x faster than traditional Python lists.

- NumPy arrays are stored at one continuous place in memory unlike lists, so processes can access and manipulate them very efficiently.

- This behavior is called locality of reference in computer science.

#### Install 

- we need to install the numpy before we use it, as it is not a builtin module.

pip install numpy

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
a=10
b=20
a
b

In [ ]:
#importing

import numpy

#alias
import numpy as np

In [ ]:
dir(np)

In [6]:
lst = ["vbhvh", 2.0, 3]

print(lst , type(lst))

print(type(lst[0]),type(lst[1]))

['vbhvh', 2.0, 3] <class 'list'>
<class 'str'> <class 'float'>

In [18]:
import numpy as np

arr = np.array([2, 2, 3.5])
print(arr)
print(type(arr))

[2.  2.  3.5]
<class 'numpy.ndarray'>

In [19]:
arr[0]
arr[2]
# arr[3]=10 
print(type(arr[2]))

2.0

3.5

<class 'numpy.float64'>

In [20]:
#Upcasting:

In [21]:
arr = np.array([1, 2, 3.0,40.2,39.4 ,True])
print(arr[0],type(arr[0]))
print(arr)

1.0 <class 'numpy.float64'>
[ 1.   2.   3.  40.2 39.4  1. ]

In [22]:
print(arr[1])
print(type(arr[1]))

2.0
<class 'numpy.float64'>

In [23]:
# numpy.array([])

In [24]:
#two dimensions

In [28]:
# python list 2D

lst2D = [[1, 2], [3, 4]]

print(lst2D[0][1])

2

In [26]:
 a2d= np.array([[1, 2], [3, 4]])

In [29]:
a2d[0,1] #[row,col]
a2d[1][1]
a2d[-1][-1]
a2d[-1][-1]

2

4

4

4

In [30]:
print(a2d.shape)

(2, 2)

In [31]:
#Minimum dimensions 2:

In [32]:
a = np.array([1, 2, 3], ndmin=5)

In [33]:
a.shape

(1, 1, 1, 1, 3)

In [34]:
print(a)

[[[[[1 2 3]]]]]

In [35]:
#3
a[0][0][0][0][2]

3

In [38]:

arr=np.array([1, 2, 3,5,10,2,291,2782,10991], ndmin=4)
arr

array([[[[    1,     2,     3,     5,    10,     2,   291,  2782,
          10991]]]])

In [39]:
#checking the dimension
arr.shape

len(arr)

print(arr)

# print(arr[0][0][0,7])
print(arr[0])
print(arr[0][0])
print(arr[0][0][0])
print(arr[0][0][0][4])
print(arr[0,0,0,4])

(1, 1, 1, 9)

1

[[[[    1     2     3     5    10     2   291  2782 10991]]]]
[[[    1     2     3     5    10     2   291  2782 10991]]]
[[    1     2     3     5    10     2   291  2782 10991]]
[    1     2     3     5    10     2   291  2782 10991]
10
10

In [ ]:
#dtype

In [40]:
 np.array([1+2j, 2, 3], dtype=complex) #x+yj

array([1.+2.j, 2.+0.j, 3.+0.j])

In [41]:
 np.array([1, 2, 3], dtype=str)

array(['1', '2', '3'], dtype='<U1')

In [47]:
bool(0)
bool(0.0)
bool([])
bool(())
bool(set())
bool({})
bool("")

False

False

False

False

False

False

False

In [45]:
 np.array([1, 2, 0,{}], dtype=bool)

array([ True,  True, False, False])

In [ ]:
#Data-type consisting of more than one element:

In [48]:
x = np.array([(1,2),(3,4)],dtype=[('f','f'),('b','<i4')])
x

array([(1., 2), (3., 4)], dtype=[('f', '<f4'), ('b', '<i4')])

In [50]:
a=np.array([1, 2, 3], dtype='f')
a
type(a[0])

array([1., 2., 3.], dtype=float32)

numpy.float32

In [51]:
print(x[0][1])
type(x[0][0])
type(x[0][1])
type(x[1][0])
type(x[1][1])

2

numpy.float32

numpy.int32

numpy.float32

numpy.int32

In [ ]:
numpy.array([] ,ndim=0,dtype=None)


##### Creating an array from sub-classes:

In [52]:
a = np.mat(np.array([[1, 2],[4,7]]))
a.shape

(2, 2)

In [53]:
arr=np.mat(np.array([[1, 2,3],[98,7,67]]))
arr.shape
print(arr[0,2]) #3rd element on the 1 dimensin

print(arr[1,0])

(2, 3)

3
98

In [54]:
np.mat('1 2; 3 5;3 4')

matrix([[1, 2],
        [3, 5],
        [3, 4]])

# numpy.asarray
- Convert the input to an array.
- Convert a list into an array:

In [55]:
 a = [1, 2]
type(a)

list

In [56]:
b = np.asarray(a)
b
type(b)

array([1, 2])

numpy.ndarray

In [57]:
a = np.array([1, 2]) #Existing arrays are not copied
type(a)

numpy.ndarray

In [58]:
np.asarray((1,2))

array([1, 2])

In [ ]:
#If dtype is set, array is copied only if dtype does not match:

In [59]:
# np.int8
# np.int16 ,32,64
# np.float32,64

In [60]:
a = np.array([1, 2], dtype=np.float64)
a
type(a[0])

array([1., 2.])

numpy.float64

In [61]:
a
type(a)

array([1., 2.])

numpy.ndarray

In [62]:
b = np.asarray([1,2])
b
type(b) 
id(b)
id(a)
a is b

array([1, 2])

numpy.ndarray

1833590362928

1833589719952

False

In [63]:
np.asarray([1,2])

array([1, 2])

In [64]:
id(np.asanyarray([1,2], dtype=np.float32))

1833590467344

In [ ]:
id(a)

In [65]:
a=10
b=10
id(a),id(b)
a is b

(140737403168848, 140737403168848)

True

In [ ]:
# ndarray subclasses are not passed through

In [67]:
class B:
    pass
class A:
    a=10
obj=A()

isinstance(obj,B)

False

In [70]:
class myAge:
  age = 36

class myObj(myAge):
  name = "John"
  age = myAge

x = issubclass(myObj,myAge)
print(x)

True

In [71]:
issubclass(np.matrix, np.ndarray)

True

In [ ]:
### np.asanyarray(obj)

In [72]:
a = np.matrix([[1, 2]])

print(a)

a=[1,23,3]
# a={1,2,3,4}
# a=(1,2,3,4)

np.asanyarray(a)

[[1 2]]

array([ 1, 23,  3])

In [73]:
np.asarray(a)  is a

False

In [74]:
a = np.asanyarray([1,2,3])
b = a
a is b

True

#### numpy.copy

In [75]:
np.array(a, copy=True)

array([1, 2, 3])

In [76]:
#Create an array x, with a reference y and a copy z:

In [78]:
x = np.array([1, 2, 3])
x , type(x)

(array([1, 2, 3]), numpy.ndarray)

In [79]:
y = x #alias
y

array([1, 2, 3])

In [80]:
z = np.copy(x)
z

array([1, 2, 3])

In [81]:
x
y
z

array([1, 2, 3])

array([1, 2, 3])

array([1, 2, 3])

In [82]:
id(x) , id(y)
id(y) , id(z)
id(z) , id(x)

(1833590523632, 1833590523632)

(1833590523632, 1833590522960)

(1833590522960, 1833590523632)

In [83]:
y[0] = 100
y

array([100,   2,   3])

In [84]:
x

array([100,   2,   3])

In [85]:
z

array([1, 2, 3])

In [86]:
z[0] = 200

In [87]:
id(x)

1833590523632

In [88]:
id(y)

1833590523632

In [89]:
x

array([100,   2,   3])

In [90]:
y

array([100,   2,   3])

In [91]:
id(x)

1833590523632

In [92]:
id(z)

1833590522960

In [ ]:
names = ["IND","US","AUZ"]

a = names #alias

b = names.copy()#copy will separate memory location.

print(id(names), id(a))

print(id(a), id(b))


b[1] = "USA"

print(names,a ,b)


a[2]="ENG"

print(names,a,b)

# numpy.fromfunction

In [93]:
#Construct an array by executing a function over each coordinate.

In [94]:
import numpy as np

np.fromfunction(lambda i, j: i == j, (3, 3), dtype=int)

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [96]:
np.fromfunction(lambda i, j: i + j, (10, 3), dtype=int)

array([[ 0,  1,  2],
       [ 1,  2,  3],
       [ 2,  3,  4],
       [ 3,  4,  5],
       [ 4,  5,  6],
       [ 5,  6,  7],
       [ 6,  7,  8],
       [ 7,  8,  9],
       [ 8,  9, 10],
       [ 9, 10, 11]])

In [ ]:
#Create a new 1-dimensional array from an iterable object.

In [97]:
[x*x for x in range(5)]

[0, 1, 4, 9, 16]

In [98]:
iterable = (x*x for x in range(5))
iterable

In [99]:
np.fromiter(iterable, float)

array([ 0.,  1.,  4.,  9., 16.])

In [ ]:
#A new 1-D array initialized from text data in a string

In [100]:
a = np.fromstring('234->234',sep='->')
a
a.shape

array([234., 234.])

(2,)

In [101]:
np.fromstring('1, 2', dtype=int, sep=',')

array([1, 2])

In [102]:
a=10
b=20
print(f"sum of two numbers {a}+{b}={a+b}")

sum of two numbers 10+20=30

# data types

In [ ]:
np.array()
np.asarray()
np.mat()
np.matrix()
np.asanyarray()

In [103]:
my_list = [1,2,3]
print("Type of my list",type(my_list))

import numpy as np

arr = np.array(my_list)

print("Type/Class of this object:",type(arr))
print("Here is the vector\n--------------------\n",arr)

Type of my list <class 'list'>
Type/Class of this object: <class 'numpy.ndarray'>
Here is the vector
--------------------
 [1 2 3]

In [104]:
my_mat = [[1.1,2,3],[4,5,6],[7,8,9]]
mat = np.asarray(my_mat)
print("Type/Class of this object:",type(mat))
print("Here is the matrix\n----------\n",mat,"\n----------")
print("Dimension of this matrix: ",mat.ndim,sep='') #ndim gives the dimensison, 2 for a matrix, 1 for a vector
print("Size of this matrix: ", mat.size,sep='') #size gives the total number of elements
print("Shape of this matrix: ", mat.shape,sep='') #shape gives the number of elements along each axes (dimension)
print("Data type of this matrix: ", mat.dtype,sep='') #dtype gives the data type contained in the array

Type/Class of this object: <class 'numpy.ndarray'>
Here is the matrix
----------
 [[1.1 2.  3. ]
 [4.  5.  6. ]
 [7.  8.  9. ]]
----------
Dimension of this matrix: 2
Size of this matrix: 9
Shape of this matrix: (3, 3)
Data type of this matrix: float64

In [110]:
my_mat = [[1.1,2,3],[4,5,6],[7,8,9]]
mat = np.asarray(my_mat)
print(mat.shape)

print(mat.dtype)

print(mat.size)

print(mat.ndim)

(3, 3)
float64
9
2

In [111]:
my_mat = [[1.1,2,3],[4,5.2,6],[7,8.3,9]]
mat = np.array(my_mat)
print("Data type of the modified matrix: ", mat.dtype,sep='') #dtype gives the data type contained in the array
print("\n\nEven tuples can be converted to ndarrays...")

Data type of the modified matrix: float64


Even tuples can be converted to ndarrays...

In [112]:
b = np.array([(1.5,2,3), (4,5,6)])
print("We write b = np.array([(1.5,2,3), (4,5,6)])")
print("Matrix made from tuples, not lists\n---------------------------------------")
print(b)

We write b = np.array([(1.5,2,3), (4,5,6)])
Matrix made from tuples, not lists
---------------------------------------
[[1.5 2.  3. ]
 [4.  5.  6. ]]

# arange and linspace

In [116]:
list(range(2,10,2)) #integers

[2, 4, 6, 8]

In [117]:
list(range(1.5,10.5))

TypeError: 'float' object cannot be interpreted as an integer

In [119]:
np.arange(0,16,2)
np.arange(5,16,2.3) # A series of numbers from low to high , it also takes the float values

array([ 0,  2,  4,  6,  8, 10, 12, 14])

array([ 5. ,  7.3,  9.6, 11.9, 14.2])

In [120]:
np.arange(5.5,16.5,2.2)

array([ 5.5,  7.7,  9.9, 12.1, 14.3])

In [121]:
list(range(5,16,2))

[5, 7, 9, 11, 13, 15]

In [123]:
list(range(50,-1,-5))

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]

In [124]:
np.arange(50,-1,-5.2)# Numbers spaced apart by 2

array([50. , 44.8, 39.6, 34.4, 29.2, 24. , 18.8, 13.6,  8.4,  3.2])

In [125]:
np.arange(0,11,2.5) # Numbers spaced apart by 2.5

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [126]:
np.arange(5.0,-1,-5)

array([5., 0.])

In [128]:
list(range(1,2))

[1]

In [134]:
#printing the numbers in the given range 
(np.linspace(1,10,1000))#start, stop , nums

array([ 1.        ,  1.00900901,  1.01801802,  1.02702703,  1.03603604,
        1.04504505,  1.05405405,  1.06306306,  1.07207207,  1.08108108,
        1.09009009,  1.0990991 ,  1.10810811,  1.11711712,  1.12612613,
        1.13513514,  1.14414414,  1.15315315,  1.16216216,  1.17117117,
        1.18018018,  1.18918919,  1.1981982 ,  1.20720721,  1.21621622,
        1.22522523,  1.23423423,  1.24324324,  1.25225225,  1.26126126,
        1.27027027,  1.27927928,  1.28828829,  1.2972973 ,  1.30630631,
        1.31531532,  1.32432432,  1.33333333,  1.34234234,  1.35135135,
        1.36036036,  1.36936937,  1.37837838,  1.38738739,  1.3963964 ,
        1.40540541,  1.41441441,  1.42342342,  1.43243243,  1.44144144,
        1.45045045,  1.45945946,  1.46846847,  1.47747748,  1.48648649,
        1.4954955 ,  1.5045045 ,  1.51351351,  1.52252252,  1.53153153,
        1.54054054,  1.54954955,  1.55855856,  1.56756757,  1.57657658,
        1.58558559,  1.59459459,  1.6036036 ,  1.61261261,  1.62162162,
        1.63063063,  1.63963964,  1.64864865,  1.65765766,  1.66666667,
        1.67567568,  1.68468468,  1.69369369,  1.7027027 ,  1.71171171,
        1.72072072,  1.72972973,  1.73873874,  1.74774775,  1.75675676,
        1.76576577,  1.77477477,  1.78378378,  1.79279279,  1.8018018 ,
        1.81081081,  1.81981982,  1.82882883,  1.83783784,  1.84684685,
        1.85585586,  1.86486486,  1.87387387,  1.88288288,  1.89189189,
        1.9009009 ,  1.90990991,  1.91891892,  1.92792793,  1.93693694,
        1.94594595,  1.95495495,  1.96396396,  1.97297297,  1.98198198,
        1.99099099,  2.        ,  2.00900901,  2.01801802,  2.02702703,
        2.03603604,  2.04504505,  2.05405405,  2.06306306,  2.07207207,
        2.08108108,  2.09009009,  2.0990991 ,  2.10810811,  2.11711712,
        2.12612613,  2.13513514,  2.14414414,  2.15315315,  2.16216216,
        2.17117117,  2.18018018,  2.18918919,  2.1981982 ,  2.20720721,
        2.21621622,  2.22522523,  2.23423423,  2.24324324,  2.25225225,
        2.26126126,  2.27027027,  2.27927928,  2.28828829,  2.2972973 ,
        2.30630631,  2.31531532,  2.32432432,  2.33333333,  2.34234234,
        2.35135135,  2.36036036,  2.36936937,  2.37837838,  2.38738739,
        2.3963964 ,  2.40540541,  2.41441441,  2.42342342,  2.43243243,
        2.44144144,  2.45045045,  2.45945946,  2.46846847,  2.47747748,
        2.48648649,  2.4954955 ,  2.5045045 ,  2.51351351,  2.52252252,
        2.53153153,  2.54054054,  2.54954955,  2.55855856,  2.56756757,
        2.57657658,  2.58558559,  2.59459459,  2.6036036 ,  2.61261261,
        2.62162162,  2.63063063,  2.63963964,  2.64864865,  2.65765766,
        2.66666667,  2.67567568,  2.68468468,  2.69369369,  2.7027027 ,
        2.71171171,  2.72072072,  2.72972973,  2.73873874,  2.74774775,
        2.75675676,  2.76576577,  2.77477477,  2.78378378,  2.79279279,
        2.8018018 ,  2.81081081,  2.81981982,  2.82882883,  2.83783784,
        2.84684685,  2.85585586,  2.86486486,  2.87387387,  2.88288288,
        2.89189189,  2.9009009 ,  2.90990991,  2.91891892,  2.92792793,
        2.93693694,  2.94594595,  2.95495495,  2.96396396,  2.97297297,
        2.98198198,  2.99099099,  3.        ,  3.00900901,  3.01801802,
        3.02702703,  3.03603604,  3.04504505,  3.05405405,  3.06306306,
        3.07207207,  3.08108108,  3.09009009,  3.0990991 ,  3.10810811,
        3.11711712,  3.12612613,  3.13513514,  3.14414414,  3.15315315,
        3.16216216,  3.17117117,  3.18018018,  3.18918919,  3.1981982 ,
        3.20720721,  3.21621622,  3.22522523,  3.23423423,  3.24324324,
        3.25225225,  3.26126126,  3.27027027,  3.27927928,  3.28828829,
        3.2972973 ,  3.30630631,  3.31531532,  3.32432432,  3.33333333,
        3.34234234,  3.35135135,  3.36036036,  3.36936937,  3.37837838,
        3.38738739,  3.3963964 ,  3.40540541,  3.41441441,  3.42342342,
        3.43243243,  3.44144144,  3.45045045,  3.45945946,  3.46846847,
        3.47747748,  3.48648649,  3.4954955 ,  3.5045045 ,  3.51351351,
        3.52252252,  3.53153153,  3.54054054,  3.54954955,  3.55855856,
        3.56756757,  3.57657658,  3.58558559,  3.59459459,  3.6036036 ,
        3.61261261,  3.62162162,  3.63063063,  3.63963964,  3.64864865,
        3.65765766,  3.66666667,  3.67567568,  3.68468468,  3.69369369,
        3.7027027 ,  3.71171171,  3.72072072,  3.72972973,  3.73873874,
        3.74774775,  3.75675676,  3.76576577,  3.77477477,  3.78378378,
        3.79279279,  3.8018018 ,  3.81081081,  3.81981982,  3.82882883,
        3.83783784,  3.84684685,  3.85585586,  3.86486486,  3.87387387,
        3.88288288,  3.89189189,  3.9009009 ,  3.90990991,  3.91891892,
        3.92792793,  3.93693694,  3.94594595,  3.95495495,  3.96396396,
        3.97297297,  3.98198198,  3.99099099,  4.        ,  4.00900901,
        4.01801802,  4.02702703,  4.03603604,  4.04504505,  4.05405405,
        4.06306306,  4.07207207,  4.08108108,  4.09009009,  4.0990991 ,
        4.10810811,  4.11711712,  4.12612613,  4.13513514,  4.14414414,
        4.15315315,  4.16216216,  4.17117117,  4.18018018,  4.18918919,
        4.1981982 ,  4.20720721,  4.21621622,  4.22522523,  4.23423423,
        4.24324324,  4.25225225,  4.26126126,  4.27027027,  4.27927928,
        4.28828829,  4.2972973 ,  4.30630631,  4.31531532,  4.32432432,
        4.33333333,  4.34234234,  4.35135135,  4.36036036,  4.36936937,
        4.37837838,  4.38738739,  4.3963964 ,  4.40540541,  4.41441441,
        4.42342342,  4.43243243,  4.44144144,  4.45045045,  4.45945946,
        4.46846847,  4.47747748,  4.48648649,  4.4954955 ,  4.5045045 ,
        4.51351351,  4.52252252,  4.53153153,  4.54054054,  4.54954955,
        4.55855856,  4.56756757,  4.57657658,  4.58558559,  4.59459459,
        4.6036036 ,  4.61261261,  4.62162162,  4.63063063,  4.63963964,
        4.64864865,  4.65765766,  4.66666667,  4.67567568,  4.68468468,
        4.69369369,  4.7027027 ,  4.71171171,  4.72072072,  4.72972973,
        4.73873874,  4.74774775,  4.75675676,  4.76576577,  4.77477477,
        4.78378378,  4.79279279,  4.8018018 ,  4.81081081,  4.81981982,
        4.82882883,  4.83783784,  4.84684685,  4.85585586,  4.86486486,
        4.87387387,  4.88288288,  4.89189189,  4.9009009 ,  4.90990991,
        4.91891892,  4.92792793,  4.93693694,  4.94594595,  4.95495495,
        4.96396396,  4.97297297,  4.98198198,  4.99099099,  5.        ,
        5.00900901,  5.01801802,  5.02702703,  5.03603604,  5.04504505,
        5.05405405,  5.06306306,  5.07207207,  5.08108108,  5.09009009,
        5.0990991 ,  5.10810811,  5.11711712,  5.12612613,  5.13513514,
        5.14414414,  5.15315315,  5.16216216,  5.17117117,  5.18018018,
        5.18918919,  5.1981982 ,  5.20720721,  5.21621622,  5.22522523,
        5.23423423,  5.24324324,  5.25225225,  5.26126126,  5.27027027,
        5.27927928,  5.28828829,  5.2972973 ,  5.30630631,  5.31531532,
        5.32432432,  5.33333333,  5.34234234,  5.35135135,  5.36036036,
        5.36936937,  5.37837838,  5.38738739,  5.3963964 ,  5.40540541,
        5.41441441,  5.42342342,  5.43243243,  5.44144144,  5.45045045,
        5.45945946,  5.46846847,  5.47747748,  5.48648649,  5.4954955 ,
        5.5045045 ,  5.51351351,  5.52252252,  5.53153153,  5.54054054,
        5.54954955,  5.55855856,  5.56756757,  5.57657658,  5.58558559,
        5.59459459,  5.6036036 ,  5.61261261,  5.62162162,  5.63063063,
        5.63963964,  5.64864865,  5.65765766,  5.66666667,  5.67567568,
        5.68468468,  5.69369369,  5.7027027 ,  5.71171171,  5.72072072,
        5.72972973,  5.73873874,  5.74774775,  5.75675676,  5.76576577,
        5.77477477,  5.78378378,  5.79279279,  5.8018018 ,  5.81081081,
        5.81981982,  5.82882883,  5.83783784,  5.84684685,  5.85585586,
        5.86486486,  5.87387387,  5.88288288,  5.89189189,  5.9009009 ,
        5.90990991,  5.91891892,  5.92792793,  5.93693694,  5.94594595,
        5.95495495,  5.96396396,  5.97297297,  5.98198198,  5.99099099,
        6.        ,  6.00900901,  6.01801802,  6.02702703,  6.03603604,
        6.04504505,  6.05405405,  6.06306306,  6.07207207,  6.08108108,
        6.09009009,  6.0990991 ,  6.10810811,  6.11711712,  6.12612613,
        6.13513514,  6.14414414,  6.15315315,  6.16216216,  6.17117117,
        6.18018018,  6.18918919,  6.1981982 ,  6.20720721,  6.21621622,
        6.22522523,  6.23423423,  6.24324324,  6.25225225,  6.26126126,
        6.27027027,  6.27927928,  6.28828829,  6.2972973 ,  6.30630631,
        6.31531532,  6.32432432,  6.33333333,  6.34234234,  6.35135135,
        6.36036036,  6.36936937,  6.37837838,  6.38738739,  6.3963964 ,
        6.40540541,  6.41441441,  6.42342342,  6.43243243,  6.44144144,
        6.45045045,  6.45945946,  6.46846847,  6.47747748,  6.48648649,
        6.4954955 ,  6.5045045 ,  6.51351351,  6.52252252,  6.53153153,
        6.54054054,  6.54954955,  6.55855856,  6.56756757,  6.57657658,
        6.58558559,  6.59459459,  6.6036036 ,  6.61261261,  6.62162162,
        6.63063063,  6.63963964,  6.64864865,  6.65765766,  6.66666667,
        6.67567568,  6.68468468,  6.69369369,  6.7027027 ,  6.71171171,
        6.72072072,  6.72972973,  6.73873874,  6.74774775,  6.75675676,
        6.76576577,  6.77477477,  6.78378378,  6.79279279,  6.8018018 ,
        6.81081081,  6.81981982,  6.82882883,  6.83783784,  6.84684685,
        6.85585586,  6.86486486,  6.87387387,  6.88288288,  6.89189189,
        6.9009009 ,  6.90990991,  6.91891892,  6.92792793,  6.93693694,
        6.94594595,  6.95495495,  6.96396396,  6.97297297,  6.98198198,
        6.99099099,  7.        ,  7.00900901,  7.01801802,  7.02702703,
        7.03603604,  7.04504505,  7.05405405,  7.06306306,  7.07207207,
        7.08108108,  7.09009009,  7.0990991 ,  7.10810811,  7.11711712,
        7.12612613,  7.13513514,  7.14414414,  7.15315315,  7.16216216,
        7.17117117,  7.18018018,  7.18918919,  7.1981982 ,  7.20720721,
        7.21621622,  7.22522523,  7.23423423,  7.24324324,  7.25225225,
        7.26126126,  7.27027027,  7.27927928,  7.28828829,  7.2972973 ,
        7.30630631,  7.31531532,  7.32432432,  7.33333333,  7.34234234,
        7.35135135,  7.36036036,  7.36936937,  7.37837838,  7.38738739,
        7.3963964 ,  7.40540541,  7.41441441,  7.42342342,  7.43243243,
        7.44144144,  7.45045045,  7.45945946,  7.46846847,  7.47747748,
        7.48648649,  7.4954955 ,  7.5045045 ,  7.51351351,  7.52252252,
        7.53153153,  7.54054054,  7.54954955,  7.55855856,  7.56756757,
        7.57657658,  7.58558559,  7.59459459,  7.6036036 ,  7.61261261,
        7.62162162,  7.63063063,  7.63963964,  7.64864865,  7.65765766,
        7.66666667,  7.67567568,  7.68468468,  7.69369369,  7.7027027 ,
        7.71171171,  7.72072072,  7.72972973,  7.73873874,  7.74774775,
        7.75675676,  7.76576577,  7.77477477,  7.78378378,  7.79279279,
        7.8018018 ,  7.81081081,  7.81981982,  7.82882883,  7.83783784,
        7.84684685,  7.85585586,  7.86486486,  7.87387387,  7.88288288,
        7.89189189,  7.9009009 ,  7.90990991,  7.91891892,  7.92792793,
        7.93693694,  7.94594595,  7.95495495,  7.96396396,  7.97297297,
        7.98198198,  7.99099099,  8.        ,  8.00900901,  8.01801802,
        8.02702703,  8.03603604,  8.04504505,  8.05405405,  8.06306306,
        8.07207207,  8.08108108,  8.09009009,  8.0990991 ,  8.10810811,
        8.11711712,  8.12612613,  8.13513514,  8.14414414,  8.15315315,
        8.16216216,  8.17117117,  8.18018018,  8.18918919,  8.1981982 ,
        8.20720721,  8.21621622,  8.22522523,  8.23423423,  8.24324324,
        8.25225225,  8.26126126,  8.27027027,  8.27927928,  8.28828829,
        8.2972973 ,  8.30630631,  8.31531532,  8.32432432,  8.33333333,
        8.34234234,  8.35135135,  8.36036036,  8.36936937,  8.37837838,
        8.38738739,  8.3963964 ,  8.40540541,  8.41441441,  8.42342342,
        8.43243243,  8.44144144,  8.45045045,  8.45945946,  8.46846847,
        8.47747748,  8.48648649,  8.4954955 ,  8.5045045 ,  8.51351351,
        8.52252252,  8.53153153,  8.54054054,  8.54954955,  8.55855856,
        8.56756757,  8.57657658,  8.58558559,  8.59459459,  8.6036036 ,
        8.61261261,  8.62162162,  8.63063063,  8.63963964,  8.64864865,
        8.65765766,  8.66666667,  8.67567568,  8.68468468,  8.69369369,
        8.7027027 ,  8.71171171,  8.72072072,  8.72972973,  8.73873874,
        8.74774775,  8.75675676,  8.76576577,  8.77477477,  8.78378378,
        8.79279279,  8.8018018 ,  8.81081081,  8.81981982,  8.82882883,
        8.83783784,  8.84684685,  8.85585586,  8.86486486,  8.87387387,
        8.88288288,  8.89189189,  8.9009009 ,  8.90990991,  8.91891892,
        8.92792793,  8.93693694,  8.94594595,  8.95495495,  8.96396396,
        8.97297297,  8.98198198,  8.99099099,  9.        ,  9.00900901,
        9.01801802,  9.02702703,  9.03603604,  9.04504505,  9.05405405,
        9.06306306,  9.07207207,  9.08108108,  9.09009009,  9.0990991 ,
        9.10810811,  9.11711712,  9.12612613,  9.13513514,  9.14414414,
        9.15315315,  9.16216216,  9.17117117,  9.18018018,  9.18918919,
        9.1981982 ,  9.20720721,  9.21621622,  9.22522523,  9.23423423,
        9.24324324,  9.25225225,  9.26126126,  9.27027027,  9.27927928,
        9.28828829,  9.2972973 ,  9.30630631,  9.31531532,  9.32432432,
        9.33333333,  9.34234234,  9.35135135,  9.36036036,  9.36936937,
        9.37837838,  9.38738739,  9.3963964 ,  9.40540541,  9.41441441,
        9.42342342,  9.43243243,  9.44144144,  9.45045045,  9.45945946,
        9.46846847,  9.47747748,  9.48648649,  9.4954955 ,  9.5045045 ,
        9.51351351,  9.52252252,  9.53153153,  9.54054054,  9.54954955,
        9.55855856,  9.56756757,  9.57657658,  9.58558559,  9.59459459,
        9.6036036 ,  9.61261261,  9.62162162,  9.63063063,  9.63963964,
        9.64864865,  9.65765766,  9.66666667,  9.67567568,  9.68468468,
        9.69369369,  9.7027027 ,  9.71171171,  9.72072072,  9.72972973,
        9.73873874,  9.74774775,  9.75675676,  9.76576577,  9.77477477,
        9.78378378,  9.79279279,  9.8018018 ,  9.81081081,  9.81981982,
        9.82882883,  9.83783784,  9.84684685,  9.85585586,  9.86486486,
        9.87387387,  9.88288288,  9.89189189,  9.9009009 ,  9.90990991,
        9.91891892,  9.92792793,  9.93693694,  9.94594595,  9.95495495,
        9.96396396,  9.97297297,  9.98198198,  9.99099099, 10.        ])

# Matrix creation

In [135]:
print("Vector of zeroes\n---------------------")
print(np.zeros(10))

Vector of zeroes
---------------------
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [ ]:
print("Matrix of zeroes\n--------------------")
print(np.zeros((6,7))) # Notice Tuples

In [ ]:
print("Vector of ones\n---------------------")
print(np.ones(5))

In [ ]:
print("Matrix of ones\n---------------------")
a=np.ones([5,2,8])
a# Note matrix dimension specified by Tuples
a.shape
a.size
a[0][0][0]

In [ ]:
print("Matrix of 5's\n---------------------")
print(5+np.ones((3,5)))

In [ ]:
print("Empty matrix\n-------------\n", np.empty((2,3)))

In [ ]:
mat1 = np.eye(4) 
print("Identity matrix of dimension", mat1.shape)
print(mat1)

In [ ]:
np.arange(3)

In [ ]:
np.arange(3.0)

In [ ]:
 np.arange(3,7)

In [ ]:
np.arange(3,7,2)

In [ ]:
np.linspace(2.0, 3.0, num=100)

In [ ]:
np.linspace(2.0, 3.0, num=5, endpoint=True)

In [ ]:
np.linspace(2.0, 3.0, num=9, retstep=True)

In [ ]:
import numpy as np
np.logspace(2.0, 3.0, num=10,base = 10)

In [ ]:
np.logspace(2.0, 3.0, num=4, endpoint=False)

In [ ]:
np.logspace(2.0, 3.0, num=20, base=2.0)

In [ ]:
#Extract a diagonal or construct a diagonal array.

In [ ]:
x = np.arange(16)
x

In [ ]:
x.shape
x

In [ ]:
x.reshape(4,4)

In [ ]:
x = np.array([[1,2,3,4],[5,6,7,78],[11,22,33,44],[23,32,12,45]])
x
np.diag(x) #print only dialgnol elements

In [ ]:
np.diag(x, k=-3)

In [ ]:
np.diag(x, k=-1)

In [ ]:
np.diag(np.diag(x))

# Random number generation

In [ ]:
import random as rd

dir(rd)

In [ ]:
for i in range(1,10): print(rd.randint(1,10)) #int

In [ ]:
rd.random() #float

In [ ]:
for i in range(10): print(rd.randrange(1,10,2))

In [ ]:
from numpy.random import *

In [ ]:


rand(2,2)

In [ ]:
print("Random number generation (from Uniform distribution)")
print(np.random.rand(2,3)) # 2 by 3 matrix with random numbers ranging from 0 to 1, Note no Tuple is necessary

In [ ]:
np.random.rand(1000)

In [ ]:
import pandas as pd

df = pd.DataFrame(np.random.rand(1000)) #uniform distribution
# df.plot()

In [ ]:
df

In [ ]:
type(df)

In [ ]:
df.plot()

In [ ]:
print("Numbers from Normal distribution with zero mean and standard deviation 1 i.e. standard normal")
print(np.random.randn(4))

In [ ]:
import pandas as pd

df = pd.DataFrame(np.random.randn(10000))
df.plot()

In [ ]:
print("Random integer vector:",np.random.randint(1,10)) #randint (low, high, # of samples to be drawn)
print ("\nRandom integer matrix")

In [ ]:
print(np.random.randint(1,100,(4,4))) #randint (low, high, # of samples to be drawn in a tuple to form a matrix)
print("\n20 samples drawn from a dice throw:",np.random.randint(1,7,20)) # 20 samples drawn from a dice throw

# Reshaping

In [ ]:
from numpy.random import randint as ri
a = ri(1,50,30)
# print(a)

# print(a.shape)

# b = a.reshape(2,3,5)
# print(b)
# print(b.shape)

c = a.reshape(6,-1)
c
print(c)
a.reshape(15,2)

In [ ]:
print ("Shape of a:", a.shape)
print ("Shape of b:", b.shape)
print ("Shape of c:", c.shape)

In [ ]:
print("\na looks like\n",'-'*20,"\n",a,"\n",'-'*20)
print("\nb looks like\n",'-'*20,"\n",b,"\n",'-'*20)
print("\nc looks like\n",'-'*20,"\n",c,"\n",'-'*20)

In [ ]:
from numpy.random import randint as ri

In [ ]:
ri(1,10,(2,2))
np.random.seed(123)

In [ ]:
A = ri(1,100,10)# Vector of random interegrs
np.random.seed(123)
print(A)
print("\nVector of random integers\n",'-'*50,"\n",A)
print("\nHere is the sorted vector\n",'-'*50,"\n",-np.sort(-A))

In [ ]:
M = ri(1,100,25).reshape(5,5) # Matrix of random interegrs
#print("\nHere is the sorted matrix along each row\n",'-'*50,"\n",np.sort(M, kind='mergesort')) # Default axis =1
print("\nHere is the sorted matrix along each column\n",'-'*50,"\n",np.sort(M, axis=1, kind='mergesort'))
M

In [ ]:
b

In [ ]:
print("Max of a:", M.max())
print("Max of b:", b.max())
b

In [ ]:
M

In [ ]:
print("Max of a location:", M.argmax(axis= 0))#axiz = 0 > row
print("Max of b location:", b.argmax())
print("Max of c location:", b.argmax())

# Indexing and slicing

In [ ]:
some_list = ["ajka",True,10,203]
some_list[-1]

In [ ]:
import numpy as np
arr = np.arange(0,11)
print("Array:",arr)

In [ ]:
print("Element at 7th index is:", arr[7])

In [ ]:
print("Elements from 3rd to 5th index are:", arr[3:6])

In [ ]:
print("Elements up to 4th index are:", arr[:4])
arr

In [ ]:
a = [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10]
a[-1:7:-1]

In [ ]:
print("Elements from last backwards are:", arr[-1:7:-1]) #-1 0 1 2 3 4 5 6 7

In [ ]:
print("3 Elements from last backwards are:", arr[-1:-6:2])

In [ ]:
arr = np.arange(0,21,2)
print("New array:",arr)

In [ ]:
print("Elements at 2nd, 4th, and 9th index are:", arr[[2,4,9]]) # Pass a list as a index to subset

In [ ]:
import numpy as np 
mat = np.array(np.linspace(10,100,30,dtype=int)).reshape(6,5)
print("Matrix of random 2-digit numbers\n--------------------------------\n",mat)

In [ ]:
mat[1:4]
# [rows,columns]

In [ ]:
mat[2:5,1:4]

In [ ]:
mat[:,[1,3,2]]

In [ ]:
mat[0:3,[1,3]]
mat

In [ ]:
print("\nDouble bracket indexing\n------------------------")
print("Element in row index 1 and column index 2:", mat[4][3])
mat

In [ ]:
print("\nSingle bracket with comma indexing\n----------------------------------")
print("Element in row index 1 and column index 2:", mat[4,3])
print("\nRow or column extract\n----------------------")

In [ ]:
print("Entire row at index 2:", mat[2])
print("Entire column at index 3:", mat[:,3])

In [ ]:
print("\nSubsetting sub-matrices\n--------------------------")
print("Matrix with row indices 1 and 2 and column indices 3 and 4\n", mat[1:3,3:5])

In [ ]:
print("Matrix with row indices 0 and 1 and column indices 1 and 3\n", mat[0:2,[1,3]])

# Array Math

In [ ]:
import numpy as np

from numpy.random import randint as ri

In [ ]:
mat1 = np.array(ri(1,10,9)).reshape(3,3)
mat2 = np.array(ri(1,10,9)).reshape(3,3)
print("\n1st Matrix of random single-digit numbers\n\n",mat1)
print("\n2nd Matrix of random single-digit numbers\n------------\n",mat2)

In [ ]:
print("\nSq-root of 1st matrix using np\n------------------\n", np.sqrt(mat1))

In [ ]:
print("\nExponential power of 1st matrix using np\n",'-'*50,"\n", np.exp(mat1))

In [ ]:
print("\n10-base logarithm on 1st matrix using np\n",'-'*50,"\n", np.log10(mat1))
print(mat1)
print(mat2)

In [ ]:
print("\nModulo reminder using np\n",'-'*50,"\n", np.fmod(mat1,mat2))
mat1%mat2

In [ ]:
print("\nCombination of functions by shwoing exponetial decay of a sine wave\n",'-'*70)

In [ ]:
A = np.linspace(0,12*np.pi,1001)

In [ ]:
A

In [ ]:
np.pi

In [ ]:
#as np
np.array
np.asarray
np.asanyarray

#random
np.random.rand()
np.random.randn
np.random.randint
np.random.random
# FUnction
np.fromfunction
np.fromstring
np.fromiter

#general
np.sort()
np.sqrt()
np.expo(),log10(),sum()
np.reshape()
#attributes
shape
dtypes
ndim
index

In [ ]:
#IMAGE to NUMPY ARRAY 

from PIL import Image

img = Image.open("nature.jpg")

print(img)

print(img.format)

print(img.size)

print(img.mode)

In [ ]:

from PIL import Image
import numpy as np

img = Image.open("nature.jpg")

Numpyimg = np.asarray(img)

print(Numpyimg.shape)

In [ ]:
revertedImage = Image.fromarray(Numpyimg)
print(revertedImage)

In [ ]:
print(revertedImage.show())